.pdfjs-wrapper.components-placeholder {
	justify-content: start;
	overflow: hidden;
}

.pdfjs-button {
	background-color: rgb( 233, 242, 251 );
	border: 1px solid #ffffff;
}

.pdfjs-button:hover,
.pdfjs-button:focus {
	background-color: rgb( 233, 242, 251 );
	border: 1px solid #007cba;
}

.pdfjs-preview-link {
	text-decoration: underline;
}
